html,
body {
  /* height: 100%; */
  padding: 0;
  margin: 0;
  /* background-image: url("images/thankyou.jpg"); */
  /* border: 3px solid green; */
}

header {
  /* border: 3px solid red; */
}

h3{
  /* padding-left: 25px; */
}
.center {
  display: flex;
  justify-content: center;
  padding: 50px;
  /* border: 3px solid green; */
}

.nav {
  width: auto;
  /* border: 3px solid blue; */
}

footer {
  position:absolute;
  bottom:0;
  width:100%;
  /* height:60px; */
  background:#000;
  color: #FFF
}
