
html,
body {
  --outerPanelColor: 	#251e19;
  --goldColor: 	#c3890b;
  height: 100%;
  margin: 0;
  /* padding: 10px; */
}

/* box-shadow: inset | offset-x | offset-y | blur-radius | spread-radius | color */

div {
  box-sizing: border-box;
  display: inline-block;
  border: 3px solid green;
  /* background-color: var(--outerPanelColor) */
}

div:hover {
  /* border: 3px solid green; */
  --goldColor: #d3c088;
}

img {
  display: inline-block;
  /* margin-left: auto;
  margin-right: auto; */
  padding: 2px;
  /* width: 40%; */
}


.clickable {
  border:3px solid red;"
}

.column {
  float: left;
  padding: 10px;
  justify-content: center;
  align-items: center;
  /* height: 300px; /* Should be removed. Only for demonstration */
}

.half {
  width: 50%;
}

.quarter{
  width: 25%;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
