
html,
body {
  --outerPanelColor: 	#251e19;
  --goldColor: 	#c3890b;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* box-shadow: inset | offset-x | offset-y | blur-radius | spread-radius | color */

div {
  box-sizing: border-box;
  border: 3px solid green;
  /* background-color: var(--outerPanelColor) */
}

div:hover {
  /* border: 3px solid green; */
  --goldColor: #d3c088;
}

.clickable {
  border:3px solid red;"
}
