
html,
body {
  --outerPanelColor: 	#251e19;
  --goldColor: 	#c3890b;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* body { padding: 2em; } */
#container {
   width: 100%; 
   height: 100%; 
   /* margin:20px;  */
   /* border: 1px solid #000;  */
   overflow:hidden;
   position: relative; 
   display: flex;}

#center { 
  width: 500px; 
  margin: auto; 
  color:white;
   overflow: hidden; 
    display: flex;
  }

.field { 
  
  /* display:none; */
  /* width: 10%;  */
  /* width:20px;
  height:20px; */
  overflow:scroll;
  /* height: 20px;  */
  z-index: 1;
  position: absolute; 
  color: black;
  text-align: center;
  /* display:flex;
  justify-content: center; */
  /* padding: 10px; */
  /* background: #f00; */
}

.invisible {
  visibility: hidden;
  /* display: block; */
}
#crosshair-x { width: 100%; height: 1px; background: #000; position: absolute; left: 0; top: 50%; }
#crosshair-y { width: 1px; height: 100%; background: #000; position: absolute; left: 50%; top: 0; }
.ascii{
 position: absolute;
 font:4.17px monospace;
 z-index: 1;
 line-height: 5.4px; 
}

/* box-shadow: inset | offset-x | offset-y | blur-radius | spread-radius | color */

div {
  box-sizing: border-box;
  /* display: inline-block; */
  /* border: 1px solid green; */
  /* width:100%; */

}

div:hover {
  /* border: 3px solid green; */
  --goldColor: #d3c088;
}

.column {
  float: left;
  padding: 10px;
  justify-content: center;
  align-items: center;
  /* height: 300px; /* Should be removed. Only for demonstration */
}

.half {
  width: 50%;
}

.quarter {
  width: 20%;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%; 
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

#ad{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  margin:50px auto;
  width: 50%;
  /* height:400px; */
  padding:5px;
  box-shadow: 0 0 20px rgba(0,0,0,1);
  /* position:relative; */
  /* display: inline-block; */
  }

  #ad>li{
    /* position:absolute; */
    list-style:none;
    
    /* top:5px;
    left:5px;
    right:5px;
    bottom:5px; */
    }

    #ad>li>img{
      width: 100%;
    }

/* background image wrapper */
.wrapper{
  width: 100%;
  height:100%;
  transition: transform 0.5s;
}

.wrapper:hover{
  transform: scale(1.05);
}

#top, #bottom {
  overflow: hidden;
}

#top .wrapper {
  background-image: url('images/heaven.png');
  background-size: 100% 200%;
  background-position: center;
}

#middle {
  height: 15%;
  overflow: hidden;
}

#middle .wrapper {
  background-image: url('images/circle.png');
  background-position: center;
}

#bottom .wrapper {
  background-image: url('images/background.jpg');
  background-position: 1% 70%;
}


blink {
  animation: 2s linear infinite blink_effect;
  color: blue;
}

@keyframes blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

 .graphic.id-98 {
  background-image: url(images/sprite30.png);
  background-position: -962px -516px;
  width: 121px;
  height: 87px;
}

.form, .sent {
  width: 75%;
  margin:auto;
  margin-top: 50px;;
  padding: 10px;
  background-color:lightpink;
}

#form textarea{
  margin-top: 10px;
  margin-bottom: 10px;
}

.fakeLink{
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

.mark{
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  text-shadow: 3px 5px 12px #1a1a1a, 4px 2px 14px #000000;
  z-index:99;
}
#mark7{
  color:blue
}
#mark7:hover{
  color:red;
  cursor: grab;
}
